<h2>Detail</h2>

<ul>
    <li>Date: <%=expense.date%></li>
    <li>Spend Category: <%=category.name%></li>
    <li>Merchant: <%=merchant.name%></li>
    <li>Amount: $<%=expense.cost%></li>
    <li>Description: <%=expense.description%></li>
</ul>