<%- include("../partials/header") %>
<h1><%=baseballs.team%></h1>
<h3>League: <%=baseballs.league%></h3>
<h3>Location: <%=baseballs.location%></h3>
<h3>Championships: <%=baseballs.championships%></h3>
<h4><a href="/baseball/<%=baseballs.id%>/edit">Edit</a></h4>
<h4><a href="/baseball">All teams</a></h4>
<%- include("../partials/footer") %>