    <div class='well'>
        <div id="img">
            <img src="<%= character.img_icon %>" width='50%'/>
        </div>   
        <div id="details">
             <h2 id="character-name"><%= character.name %></h2>
            <p> seasons: <%= character.season %></p>
            <p>Description: <%= character.description %></p>
            <p>Type: <%= character.type %></p>
            <div id="delete">
                <form method="POST" action="/characters/<%=character.id%>/?_method=DELETE">
                    <input type="submit" value="Delete" />
                </form>
            </div>
        </div>
           
        <div class="edit-form">
            <p>Edit this Character:</p>
            <form method="POST" action="/characters/<%=character.id%>/?_method=PUT">
                <label>Name:</label>
                <input type="text" name="name" value="<%= character.name %>" required>
                <label>Description:</label>
                <input type="text" name="description" value="<%= character.description %>" required>
                <label>Type:</label>
                <input type="text" name="type" value="<%= character.type %>" required>
                <label>Season:</label>
                <input type="text" name="season" value="<%= character.season %>" required>
                <label>Image Url:</label>
                <input type="text" name="img_icon" value="<%= character.img_icon %>" required>
        
                <input type="submit" />
            </form>
            </div>
    </div>
