<h1><%=hitboxes.name%> hitbox stats</h1>

<h3>Length: <%=hitboxes.length%></h3>
<h3>Width: <%= hitboxes.width%></h3>
<h3>Height: <%=hitboxes.height%></h3>
<h3>Angle: <%=hitboxes.angle%></h3>

<%if (hitboxes.name == "Octane") {%>
    <img width="500" src="https://i.imgur.com/gEx592y.png" alt="<%=hitboxes.name%> image">
    <% } else if (hitboxes.name == "Dominus") { %>
        <img width="500" src="https://i.imgur.com/vPMkxmG.png" alt="<%=hitboxes.name%> image">
     <% } else if (hitboxes.name == "Plank") { %>
        <img width="500" src="https://i.imgur.com/3vcBKwW.png" alt="<%=hitboxes.name%> image">
        <% } else if (hitboxes.name == "Breakout") { %>
        <img width="500" src="https://i.imgur.com/2vgPJZW.png" alt="<%=hitboxes.name%> image">
        <% } else if (hitboxes.name == "Hybrid") { %>
        <img width="500" src="https://i.imgur.com/GJCadBk.png" alt="<%=hitboxes.name%> image">
        <% } else if (hitboxes.name == "Merc") { %>
        <img width="500" src="https://i.imgur.com/gOTyOSq.png" alt="<%=hitboxes.name%> image">
<%}%>
