<h1><%=hitboxes.name%> hitbox stats</h1>

<h3>Length: <%=hitboxes.length%></h3>
<h3>Width: <%= hitboxes.width%></h3>
<h3>Height: <%=hitboxes.height%></h3>
<h3>Angle: <%=hitboxes.angle%></h3>

<%if (hitboxes.name == "Octane") {%>
    <img src="./imgs/Octane.png" alt="<%=hitboxes.name%> image">
<%}%>
