<h2>List of Expenses on <%=category.name%></h2>
<h3>Monthly Budget: $<%=category.budget%></h3>
<% let costArr = []%>

    <% expenses.forEach(expense => { %>
        <ul><%= expense.date %>: $<%= expense.cost %> (<a href="/expenses/<%=expense.id%>">Click for Full Detail</a>) </ul>
        <% costArr.push(expense.cost) %>
     <%})%>

<% let total = costArr.reduce((a, b) => a + b, 0) %>
<h3>Total Spend: $<%= total %></h3>  
<% let remainder = category.budget - total %>
<h3>Remaining Budget: $<%=remainder%></h3>