<h1><%= oneJob.position %></h1>

<h2><%= oneJob.position %></h2>
<h2><%= oneJob.link %></h2>
<h2><%= oneJob.description %></h2>
<h2><%= oneJob.status %></h2>
<h2><%= oneJob.date %></h2>

<form method="GET" action="/jobs/ <%= oneJob.id %>/edit">
    <input type="Submit" value="Edit" >
</form>


<form method="POST" action="/jobs/ <%= oneJob.id %>/?_method = DELETE" >
    <input type="submit" value="delete" >
</form>