<div class="k-intro">
    <h1>Welcome to <%= kingdom.kingdom_name %></h1>
    <h2><%= kingdom.traits %></h2>

</div>

<% if (kingdom.organisms) { %>
    <% kingdom.organisms.forEach(org => { %>
        <div class="org-info">
            <h3>Common Name: <%= org.common_name %></h3>
            <h3>Scientific Name: <%= org.scientific_name%></h3>
            <h3>Size: <%= org.size %></h3>
            <a href="../organisms/<%= org.id %>">DETAILS</a>
        </div>
    <% }) %>
<% } %>